.primary__notifications {
    position: fixed;
    bottom: 5rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    z-index: var(--z-modal);

    @media screen and (max-width: 767px) {
        right: 5rem;
    }

    @media screen and (max-width: 575px) {
        width: 90%;
        right: 1rem;
    }

    .notification {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-500);
        background-color: var(--background-300);
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-out;

        &.show {
            transform: translateX(0%);
            opacity: 1;

            @media screen and (max-width: 575px) {}
        }

        &.hide {
            transform: translateX(100%);
            opacity: 0;
        }

        &__icon {
            font-size: 1.5rem;
            padding: 0.5rem;
            background-color: var(--textDark-900);
            border-radius: 0.5rem;
            align-self: flex-start;
            color: #fff;
        }

        &__text {
            margin-right: 1rem;

            &--title {
                font-weight: 500;
            }

            &--description {
                font-size: 0.8rem;
                color: var(--textLight-300);
                padding-top: 0.3rem;
            }

            &--condition {
                font-size: 1rem;
                font-weight: 700;
                padding-bottom: 0.8rem;
                color: var(--textLight-300);
            }
        }

        &__close {
            position: absolute;
            top: 0.6rem;
            right: 0.6rem;
            transition: all 0.2s;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: rgb(101, 101, 101);
                color: #fff;
            }
        }
    }
}