/*=============== SCROLL BAR ===============*/
// Firefox
* {
    scrollbar-width: thin;
    scrollbar-color: var(--textDark-500) var(--background-100);
}

::-webkit-scrollbar {
    width: 0.4rem;

    &-thumb {
        background-color: var(--background-100);
        border-radius: .5rem;

        &:hover {
            background-color: var(--textDark-500);
        }
    }
}